<div class="sidebar accounts_sidebar">
  <ul>
    <li><a href="/account">Account Information</a></li>
    <li><a href="/pages/orders">Recent Orders</a></li>
    <li><a href="/pages/exchange">Request an Exchange</a></li>
    <li><a href="/account/addresses">Saved Addresses</a></li>
<!--     <li><a href="/pages/payment">Payments</a></li> -->
<!--     <li><a href="">Email Preferences</a></li> -->
    <li>{{ 'layout.customer.log_out'| t | customer_logout_link }}</li>
  </ul>
</div>