<div class="video_wrap">
   <video class="product_video" width="60%" height="60%" poster="//cdn.shopify.com/s/files/1/0284/3580/8338/files/video_poster_01_2800x2800.png?v=1600380208"  autoplay="" playsinline="" loop="" muted="" >
     <source src="https://cdn.shopify.com/s/files/1/0284/3580/8338/files/OKATOR_Oveil.mov?v=1600276713" type="video/mp4"> 
  </video>
</div>
{% schema %}
  {
    "name": "Product Videos",
    "blocks": [
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Video Poster"
          },
		  {
            "type": "text",
            "id": "video_link",
            "label": "Video Link"
          }
        ]
      }
    ]
  }
{% endschema %}
