{% if section.settings.show == true %}
  div class="video_wrap">
    {% for block in section.blocks %}
      <video class="product_video" width="60%" height="60%" poster="//cdn.shopify.com/s/files/1/0284/3580/8338/files/video_poster_01_2800x2800.png?v=1600380208"  autoplay="" playsinline="" loop="" muted="" >
        <source src="{{ block.settings.video_link }}" type="video/mp4"> 
      </video>
    {% endfor %}
  </div>
{% endif %}
{% schema %}
  {
    "name": "Product Videos",
    "settings": [
       {
        "type": "checkbox",
        "id": "show",
        "label": "Show Section",
        "default": true  
      }
    ],
    "blocks": [
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Video Poster"
          },
		  {
            "type": "text",
            "id": "video_link",
            "label": "Video Link",
            "default": "https://cdn.shopify.com/s/files/1/0284/3580/8338/files/OKATOR_Oveil.mov?v=1600276713"
          }
        ]
      }
    ]
  }
{% endschema %}
