<div class="srs-testimonial-container container" data-section-id="{{ section.id }}">
     {% if section.settings.title != blank %}
      <h2 class="title center">{{ section.settings.title}}</h2>
      <div class="feature_divider"></div>
  {% endif %}
  
  <div class="srs_slider" id="5724"></div>
  
</div>

{% schema %}
  {
    "name": "Social Testimonial Slider",
    "class": "srs-section",
    "settings": [{
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Testimonials"
      }],
    "presets": [
      {
        "name": "Social Testimonial Slider",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}