body#disposable-makeup-covers .hc-widget .hc-product-tabs.hc-product-tabs--boxed {
    margin-top: 203px;
}
body#disposable-makeup-covers .product-single__meta--wrapper {
    height: 140vh;
}
@media only screen and (max-width: 1440px) {
  
  body#disposable-makeup-covers .hc-widget .hc-product-tabs.hc-product-tabs--boxed {
    margin-top: 295px;
  }
  body#disposable-makeup-covers .product-single__meta--wrapper {
      height: 150vh;
  }
  body#oveil .product-single__meta--wrapper {
    height: 140vh;
  }
    body#oveil .hc-widget .hc-product-tabs.hc-product-tabs--boxed {
    margin-top: 203px;
  }
}

@media only screen and (max-width: 1280px){
  body#disposable-makeup-covers .product-single__meta--wrapper {
      height: 170vh;
  }
}
@media only screen and (max-width: 1080px) {
  body#disposable-makeup-covers .hc-widget .hc-product-tabs.hc-product-tabs--boxed, body#oveil .hc-widget .hc-product-tabs.hc-product-tabs--boxed {
      margin-top: 0px;
  }
  body#disposable-makeup-covers .product-single__meta--wrapper,body#oveil .product-single__meta--wrapper {
      height: auto;
  }

}

@media screen and (min-width: 591px){
  .grid.product-single {
      margin: 0;
  }
}

.hc-widget .hc-product-tabs.hc-product-tabs--modern .hc-product-tabs__header {
	border-bottom: none !important;
}
section.hc-reviews-overview {
  	width: 50%;
}
.hc-reviews-overview__column.hc-reviews-overview__column-3 {
	display: none !important;
}
.hc-widget-card__date {
	text-align: left !important;
    padding: 0 0 0 1rem;
}