.row.additional-product-info {
    display: flex;
    column-gap: 10px;
    border-bottom: 1px solid #ebebeb;
    padding: 20px 0;
}
@media only screen and (max-width: 1080px) {
  .row.additional-product-info {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.row.additional-product-info .heading-wrap {
    min-width: 150px;
}
.row.additional-product-info h3.heading {
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0;
}


body#disposable-makeup-covers .hc-widget .hc-product-tabs.hc-product-tabs--boxed {
    margin-top: 203px;
}
body#disposable-makeup-covers .product-single__meta--wrapper {
    height: 100%;
}
@media only screen and (max-width: 1440px) {
  
  body#disposable-makeup-covers .hc-widget .hc-product-tabs.hc-product-tabs--boxed {
    margin-top: 295px;
  }
  body#oveil .product-single__meta--wrapper {
    height: 140vh;
  }
    body#oveil .hc-widget .hc-product-tabs.hc-product-tabs--boxed {
    margin-top: 203px;
  }
}

@media only screen and (max-width: 1280px){
  body#disposable-makeup-covers .product-single__meta--wrapper {
      height: 170vh;
  }
}
@media only screen and (max-width: 1080px) {
  body#disposable-makeup-covers .hc-widget .hc-product-tabs.hc-product-tabs--boxed, body#oveil .hc-widget .hc-product-tabs.hc-product-tabs--boxed {
      margin-top: 0px;
  }
  body#disposable-makeup-covers .product-single__meta--wrapper,body#oveil .product-single__meta--wrapper {
      height: auto;
  }
  body#disposable-makeup-covers .product-single__meta--wrapper {
      padding-left: 15px;
      padding-right: 0;
  }
}

@media screen and (min-width: 1080px){
  .grid.product-single {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 4%;
  }
  .product-media-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    position: sticky;
    top: 150px;
    z-index: 2;
    height: 100%;
    column-gap: 15px;
  }
  .product-info-wrapper {
    position: relative;
    right: 0;
    width: 35%;
    height: 100%;
    top: 0;
    padding: 0;
  }
}

@media screen and (min-width: 591px){
  .grid.product-single {
      margin: 0;
  }
}

.hc-widget .hc-product-tabs.hc-product-tabs--modern .hc-product-tabs__header {
	border-bottom: none !important;
}
section.hc-reviews-overview {
  	width: 50%;
}
.hc-reviews-overview__column.hc-reviews-overview__column-3 {
	display: none !important;
}
.hc-widget-card__date {
	text-align: left !important;
    padding: 0 0 0 1rem;
}

.single-option-radio label.disabled:before {
  -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#buy-on-amazon .main-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#buy-on-amazon .page-container .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
  	padding-top: 200px;
  @media screen and (max-width: 670px) {
  	padding-top: 80px;
    padding-bottom: 10px;
  }
}
#buy-on-amazon img.product--image {
	width: 100%;
}
#buy-on-amazon .grid__item.grid-product span.new {
	position: absolute;
    left: 5%;
    background-color: #000000;
    color: #ffffff;
    padding: 0 10px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
}
body.template-index .new_wrapper {
	width: 90% !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    margin: 30px 0 0 0;
}
body.template-index .show_desktop.disposable_product .overview {
    margin: 120px 0 0 0;
}
body.template-index p.new {
    background-color: #000000;
    color: #ffffff !important;
    padding: 0 10px;
    font-family: sans-serif;
    font-size: 14px !important;
    font-weight: 500;
  	width: 70px !important;
}
/* #buy-on-amazon .grid-product__meta {
	padding: 0;
} */
#buy-on-amazon .amazon_btns {
  	display: flex;
  	flex-direction: column;
    border-top: 1px solid #000000;
    width: 155px;
    padding: 10px 0 0 0;
    margin: 10px auto;
  span {
  	font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0 0 10px 0;
  }
}
#buy-on-amazon {
  .amazon_btns {
    @media screen and (max-width: 590px) {
      margin-top: 10px;
    }
    a {
      text-align: center;
      text-transform: uppercase;
      margin: 10px auto;
      margin-top: 0;
      padding: 6px 0;
      display: block;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      border: 1px solid;
      width: 150px;
      &:hover {
        cursor: pointer;
        background-color: #000000;
        color: #ffffff;
      }
      &.grid-product__meta {
        display: none;
      }
    }
  }
}
#buy-on-amazon .grid-product__title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 1.1em;
}
#buy-on-amazon .grid-product__title b {
	font-weight: 600;
}
#buy-on-amazon .grid-collage .grid-product__image-link {
	height: auto;
}
@media screen and (max-width: 590px) {
  #buy-on-amazon .page-container .main-content {
	height: auto;
  }
  #buy-on-amazon .product--wrapper {
    margin: 10px auto;
  }
  #buy-on-amazon .grid-product__meta {
	padding: 0;
    line-height: 20px;
  }
  #buy-on-amazon .grid-product__title {
  	font-size: 0.9em;
  }
  #buy-on-amazon .grid.grid-collage {
  	display: flex;
    justify-content: center;
    flex-direction: row;
  }
  #buy-on-amazon .grid__item.grid-product span.new {
    font-size: 11px;
}

#shopify-section-footer {
    display: block;
    width: 100%;
    clear: both;
}

#rc_login {
  visibility: hidden;
}