<div class="preloader"></div>

<!-- <div id="popup1" class="overlay">
  <div class="popup"> 
    <div class="close_wrapper">
      <a class="close" href="#">&times;</a>
    </div>
    <div id="dialog" class="window">
      <div class="box">
        <div class="newletter-title">
          <img src="assets/okator_logo.svg" class="logo">
        </div>
        <div class="box-content newleter-content">
          <p class="h1">Are you on the list?</p>
          <label>Become an insider <br>and get exclusive access</label>
          <p class="h2">Sign up and be the first to receive rewards and updates on our latest news.</p>
          <div id="frm_subscribe">
            <form name="subscribe" id="subscribe_popup">
              <div>
                <input type="text" value="" name="subscribe_pemail" placeholder="Your name*" id="subscribe_pemail">
                <input type="text" value="" name="name" id="name" placeholder="Your email address*" required>
                <input type="hidden" value="" name="subscribe_pname" id="subscribe_pname">
                <div id="notification"></div>
                <a class="button" onclick="email_subscribepopup()">Sign me up!</a> 
              </div>
            </form>
            <p class="disclaimer">*By completing this form you are signing up to receive our emails and can unsubscribe at any time.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



{% if customer.tags contains 'wholesale' %}
  {% section 'home-banner-wholesale' %}
  {% section 'oveil-instructions-wholesale' %}
  {% section 'product-reviews-wholesale' %}
  {% section 'product-videos-wholesale' %}
  {% section 'shop-amazon-wholesale' %}
  {% section 'blog-posts-wholesale' %}
  {% section 'profile-banner-wholesale' %}
{% else  %}
  {% section 'home-banner' %}
  {% section 'oveil-instructions' %}
  {% section 'product-reviews' %}
  {% section 'product-videos' %}
  {% section 'shop-amazon' %}
  {% section 'blog-posts' %}
  {% section 'profile-banner' %}
{% endif  %}

