<div class="preloader"></div>

<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

<!--     <header class="section-header text-center">
      
    </header> -->
    
    <div class="container">
      <div class="profile_wrapper">
        <div class="profile">
        </div>
        <div class="bio">
          <h1><span class="monts">A NOTE FROM TARA OCANSEY</span></h1>
          <hr class="hr--small">	
        <div class="intro">
        </div>
		<p>Thank you for your interest in the Oveil! As a stylist, my clients would always express their frustration about getting makeup on their clothes. I’m sure most of us can relate to makeup stains when we put on or remove a shirt, dress or worse… a turtleneck! <br>I was tired of stretching out the collars of my clothes, and having to use old t-shirts, headscarves and towels, to prevent makeup from staining my clothes.  I finally decided to take action, and created a product that would address this problem to make so many peoples lives easier! With that being said, I am so excited to share the Oveil with you!<p>
          <p class="testimonee">- Tara Ocansey, Creator of the Oveil and Wardrobe Stylist</p>
      <div>
    </div>

<!--     <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          {{ page.content }}
        </div>
      </div>
    </div> -->

  </div>
</div>
