<div class="preloader"></div>

<!-- /templates/collection.liquid -->
{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% for product in collections[section.settings.home_featured_products].products %}
  {% include 'product-grid-collage' %}
{% endfor %}
